.bottom-navbar-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0px;
    width: 100%;
    .btn-icon {
      width: 24px;
      height: 24px;
      background-color: aqua;
    }
    .btn-text {
    }
  }
  .btn-selected {
  }
}
