.main-header-wrapper {
  display: flex;
  align-items: center;
  .side-bar-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    width: 20px;
    height: 20px;
    .line {
      display: flex;
      flex: 1;
      margin: 2px 0px;
      background-color: #fff;
    }
  }
  .title {
    width: 100%;
    color: #fff;
    text-align: center;
    align-items: center;
  }
}
